<div class="footer">
    <p>This is your footer</p>
</div>

<!--<footer class="navbar navbar-dark navbar-expand-md bg-dark">-->
    <!--&lt;!&ndash;<img class="ui tiny circular image" src="../assets/image/shopping_icon3.jpg">&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="ui menu">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="header item">&ndash;&gt;-->
            <!--&lt;!&ndash;Smart Discount&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div class="item">-->
            <!--<div class="ui tiny circular image">-->
                <!--<img src="../assets/image/shopping_icon3.jpg">-->
            <!--</div>-->
        <!--</div>-->
    <!--<div class="item">-->
            <!--<div class="middle aligned content">-->
                <!--<a class="header">Smart Discount</a>-->

            <!--</div>-->
        <!--</div>-->
    <!---->
        <!--<button class="large home icon" routerLink="/" routerLinkActive="active"><i class="home icon"></i>-->
        <!--</button>-->
    <!--</div>-->
<!--</footer>-->
