//@import "";
#h2 {
  color: darkslategrey;
}
.tabular.menu {
  background-color: burlywood;
}
.price {
  color: dimgrey;
  font-weight: bold;
}
.nowprice {
  color: red;
  font-size: medium;
}
.example-card {
  max-width: 300px;
  margin: 4px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
#card-container {
  display: flex;
  flex-flow: row wrap;
}
.list {
  color: dimgrey;
  font-weight: normal;
}
.brand {
  color: #3e8acc;
  font-weight: bold;
}
.ui_list {
  list-style-type: disc;
}
.deslist {
  list-style-type: circle;
  font-weight: normal;
  color: dimgrey;
}
.totdes {
  list-style-type: square;
  font-weight: normal;
  color: dimgrey;
}
.text {
  font-weight: normal;
}
.author {
  color: #3e8acc;
  font-weight: bolder;
}

.youlike {
  color: orange;
  font-weight: bolder;
  font-size: xx-large;
}
.bad {
  color: #b0c4de;
}
.filled.bad {
  color: #1e90ff;
}
.star {
  font-size: 1.5rem;

  color: #deb0b0;
}
.filled {
  color: #ff1e1e;
}
.fixImageSize {
  height: 25vh;
  width: 15vw;
}
