<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></script>

<br>

<div class="ui container">
    <div class="ui two column doubling stackable grid container">
        <div class="column">
            <img class="ui medium image" src={{list.imgUrl}} alt="First slide" >

        </div>
        <div class="column">
            <div class="content">

                <h2><strong>{{list.title}}</strong></h2>
                <p class="price">list price: <del>${{originalPrice}}</del>
                    <br>
                    <span class="nowprice"><em><strong>Now:${{list.price}}</strong></em></span>
                </p>
                <hr>
                <ngb-rating [(rate)]="ratingScore">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                <pre>Rate: <b>{{ratingScore}}</b></pre>



                <p></p>

                <div>
                    <!--<h3> <strong> Our Choice </strong></h3>>-->
                        <!--<div class="ui red tag large label">Our choice</div>-->

                </div>



                <ol class="ui_list">
                    <li class="list" value="*" >Brand</li>
                    <p class="brand">{{list.brand}}</p>
                    <li class="list" value="*">Description</li>
                        <ul class="deslist" *ngFor="let dlist of descriptonList">

                        <li>{{dlist}}</li>
                        </ul>

                </ol>

                <br>
                <div [ngSwitch]="isAuthenticated()">
                <div class="ui animated button" tabindex="0">
                    <div class="hidden content">Notify</div>
                    <div class="visible content">
                        <i class="envelope icon"></i>
                    </div>
                </div>


                <div class="ui animated button" tabindex="0">
                    <div class="hidden content">Save</div>
                    <div class="visible content">
                        <i class="heart icon"></i>
                    </div>
                </div>


                <button *ngSwitchCase="true" (click)="onClick()" type="submit" [formTarget]="_blank" class="ui animated blue button" tabindex="0">
                    <div class="hidden content">Shop</div>
                    <div class="visible content" >
                        <i class="shop icon" ></i>
                    </div>
                </button>
                </div>


            </div>
            <br>
            <p>share with:</p>
            <button class="ui circular facebook icon button">
                <i class="facebook icon"></i>
            </button>
            <button class="ui circular twitter icon button">
                <i class="twitter icon"></i>
            </button>
            <button class="ui circular linkedin icon button">
                <i class="linkedin icon"></i>
            </button>
            <button class="ui circular google plus icon button">
                <i class="google plus icon"></i>
            </button>
        </div>


    </div>


 <br>
    <br>



    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Description</b></ng-template>
            <ng-template ngbTabContent>
                <ul class="totdes" *ngFor="let tlist of totalDes">

                    <li>{{tlist}}</li>
                </ul>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Reviews">
            <ng-template ngbTabContent>

                <div class="ui comments" *ngFor="let reviews of reviewList | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize">
                    <div class="comment" *ngFor="let review of reviews;">
                        <!--<a class="avatar">-->
                            <!--<img src="/assets/image/helen.jpg">-->
                        <!--</a>-->
                        <div class="content">
                            <a class="author">{{review.reviewerName}}</a>
                            <div class="metadata">
                                <div class="date">{{review.reviewTime}}</div>
                            </div>
                            <div class="ui star rating" data-rating="3"></div>

                            <div class="text">
                                <p>{{review.reviewText}}</p>
                                <!--<div class="actions">-->
                                    <!--<a class="reply">Reply</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                </div>
                <!--<ngb-pagination [collectionSize]=contentSize [(page)]="page" aria-label="Default pagination"></ngb-pagination>-->
                <!--<ngb-pagination [collectionSize]="contentSize" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>-->
                <ngb-pagination [collectionSize]=contentSize [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>

            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Other Infomation</b></ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                    craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                    cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                    yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                    shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
                    sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>

<hr>


    <h2 class="youlike">Others you may like...</h2>


    <div class="ui four column relaxed grid "  style="margin-left: 15px" *ngFor="let simitems of simiList| slice:5:6; let i=index">
        <div class="row ">
            <div class="column ui segment"  *ngFor="let sitem of simitems;"  >

                <img  src={{sitem.imgUrl}} (click) = "onSelect(sitem)"  class="fixImageSize"/>
                <p>{{sitem.title}}</p>


            </div>


        </div>


    </div>
